/* @import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins&family=Roboto&display=swap"); */
::-webkit-scrollbar {
  width: 0%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  /*overflow-x: hidden; */
}

body {
  /*Per responsive*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgb(253, 171, 38); */
  background-color: #fefae0;
  min-height: 100vh;
  overflow-x: hidden;
}

/*menù*/
.navbar {
  position: sticky;
  /* display: flex; */
  top: 0;
  left: 0;
  /* z-index: 2; */
  background-color: #bc6c25;
  width: 100%;
  padding: 15px 0px;
  height: 75px;
}

.max {
  max-width: 100%;
  padding: 0px 80px;
  margin: auto;
}

.navbar .max {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .home a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.navbar .home a:hover {
  color: black;
  cursor: pointer;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.navbar .menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
}

.navbar .menu li a:hover {
  color: black;
  cursor: pointer;
}

/*PULSANTE*/

#pulsante1 {
  width: 100%;
  height: 100vh;
  background-color: blue;
  position: fixed;
  right: -110%;
  z-index: 5;
  top: 0;
  transition: 0.1s;
}

#pulsante2 {
  font-size: 25px;
  color: #fff;
  background-color: transparent;
  border: none;
  display: none;
}

#pulsanteChiudi {
  top: 55px;
  right: 50px;
  font-size: 36px;
  color: black;
  background-color: transparent;
  border: none;
  position: absolute;
}

.opzioni {
  margin-left: 35px;
  margin-bottom: 10px;
}

.homeMenuVerticale {
  text-align: center;
  font-size: 28px;
  margin-top: 60px;
}

#primi {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-left: 30px;
  margin-top: 1.5%;
  font-style: italic;
  font-weight: 500;
}

/*immSfondo*/

#immSfondo {
  background: url("trattoria.jpg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#immSfondo1 {
  background: url("trattoria.jpg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*Card*/

.container {
  /* background-color: rgb(246, 253, 38); */
  background-color: #dda15e;
  /*Per responsive*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 575px;
  flex-direction: column;
  margin: 10px;
  box-shadow: 5px 5px 5px #efc493;
  /* border: 1px solid black;
    border-radius: 16px; */
}

/* .container:hover {
    width: 420px;
    height: 570px;
  } */

.title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  margin: 12px;
  margin-top: 1.5%;
  font-weight: 600;
}

.titlePrenotazione {
  width: 100%;
  text-align: center;
  font-size: 32px;
  margin: 12px;
  /* margin-top: 2%; */
  font-weight: 600;
  color: #bc6c25;
}

.titolo {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.immagine {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

.descrizione {
  width: 100%;
  height: 35%;
  text-align: justify;
  padding: 25px;
}

.prezzo {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.costo {
  height: 100%;
  width: 100%;
  /* background-color: #44743D; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottone {
  height: 100%;
  width: 50%;
  /* background-color: #A5CE78; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.acquista {
  width: 60%;
  height: 70%;
  border-radius: 5%;
  align-items: center;
  border-color: #a5ce78;
  font-style: italic;
  font-weight: 700;
}

.acquista:hover {
  width: 70%;
  height: 80%;
  font-size: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
  /* min-width: 50%; */
}

#immSfondo {
  background: url("cibo2.jpeg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#immSfondo2 {
  background: url("pesce.jpg") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

form {
  width: 100%;
  display: grid;
  place-items: center;
  /* margin-bottom: 3%; */
  /* background-color: rgba(0, 0, 255, 0.327); */
}

fieldset {
  /* background-color: rgba(0, 0, 255, 0.327); */
  background-color: rgba(210, 209, 209, 0.873);
  /* margin-top: 2%; */
}

p {
  margin: 10px;
}

#invii {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

#bottoneInvio {
  font-size: large;
  padding: 10px;
  margin: 5px;
}

#orari {
  margin-left: 3%;
  padding: 5px;
}

/*POSIZIONE*/

#descrizionePosizione {
  width: 100%;
  margin: 0 2%;
  font-size: 18px;
  color: black;
  background-color: rgba(210, 210, 209, 0.35);
}

#mappa {
  width: 100%;
  display: grid;
  place-items: center;
}

#mappa1 {
  border: 1px solid black;
  zoom: 2;
  -ms-zoom: normal;
  margin: 22px;
  width: 300px;
  height: 200px;
  /* align-items: center; */
  box-shadow: 1px 2px 10px 4px #f1f1f1;
}

iframe {
  align-items: center;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  bottom: 0;
  right: 0;
  background-color: #ddb892;
  width: 100%;
  /* margin-top: 30px; */
  text-align: center;
  font-style: italic;
  font-weight: bold;
  padding: 18px;
}

/* MEDIAQUERY SMARTPHONE */

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    /* background-color: transparent; */
    height: 90px;
  }

  .navbar .max {
    margin-top: 5%;
  }

  .navbar .max a {
    font-size: 24px;
  }

  .navbar ul {
    display: none;
  }

  .opzioni a{
    color: black;
  }

  /*PULSANTE*/

  #pulsante2 {
    display: block;
    /* margin-top: 30px; */
    margin-left: -30px;
  }

  #title {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .descrizione {
    padding-top: 0;
  }

  #descrizionePosizione {
    font-size: 16px;
    text-align: inherit;
    overflow-x: hidden;
  }

  #mappa {
    width: 100%;
    height: 200px;
    align-items: center;
    margin: 0% 2%;
  }

  #mappa1 {
    margin: 10px;
    width: 150px;
    height: 150px;
  }

  fieldset {
    margin: 1% 3% 0% 3%;
  }
  /* FOOTER */

  .footer {
    background-color: white;
    font-size: 13px;
  }
}
